.academic-page {
  display: flex;
  flex-direction: row;
}

.academic-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
  }
  
  .academic-title {
    color: grey;
    font-size: 18px;
    text-align: justify;
  }

  .academic-image{
    width: 100%;
  }
  
  .academic-a {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 95%;
    font-size: 18px;
  }
  
.academic-a:hover, a:hover {
    text-decoration: none;
}