.contact-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .contact-title {
    color: grey;
    font-size: 18px;
    text-align: justify;
  }

  .contact-image{
    width: 100%;
  }
  
.contact-a {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 95%;
    font-size: 18px;
}
  
.contact-a:hover, a:hover {
    text-decoration: none;
}