@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lora&family=Montserrat:wght@300&family=Poppins:wght@100;200&family=Satisfy&family=Tinos&family=Work+Sans:wght@200&display=swap');

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    margin-left: 29%;
}

.navlinks {
    align-items: center;
    text-decoration: dashed;
}

.navlinks :hover{
    text-decoration: underline;
    color:black;
}