@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lora&family=Montserrat:wght@300&family=Poppins:wght@100;200&family=Satisfy&family=Tinos&family=Work+Sans:wght@200&display=swap');

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    width: 100%;
    justify-content: center;
}

.navlinks {
    align-items: center;
    justify-content: center;
}

.navlink {
    align-items: center;
    text-decoration: none;
    color: black;
    padding-left: 40px;
    font-size: larger;
}

.navlinks :hover{
    text-decoration: underline;
    color:black;
}

@media only screen and (max-width: 700px) {
    .navlinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8%;
    } 

    .navlink {
        align-items: center;
        text-decoration: none;
        color: black;
        padding-bottom: 3%;
    }

    .navlinks :hover{
        text-decoration: underline;
        color:black;
    }
}